.paginationBlock {
    text-align: center;
    margin: 6px 0;
}

.paginationBlock > span {
    background-color: white;
    padding: 3px 5px;
    margin: 0 3px;
    border: solid 1px gray;
    border-radius: 4px;
    cursor: pointer;
}

span.selectedPage {
    font-weight: bold;
    background-color: aquamarine;
}