.user {
    display: grid;
    grid-template-columns: 1fr 11fr;
    margin: 10px 0;
}

.ava > img {
    width: 100%;
    border: solid 4px #ababab;
    border-radius: 50%;
    box-shadow: -1px 4px 3px 0px grey;
}

.button {
    text-align: center;
    margin-top: 5px;
}

.content {
    display: grid;
    grid-template-columns: 11fr 1fr;
    margin-left: 15px;
    padding: 15px;
    border: #d6d6d6 solid 1px;
    border-radius: 10px;
    background-color: #f8fcff;
    box-shadow: 2px 3px 3px 0 #80808012;
}

.name {
    margin: 0;
    color: grey;
}

.location {
    font-size: large;
    font-variant-caps: petite-caps;
    font-weight: 300;
}