.app-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-column: 2/12;
  background-color: aliceblue;
  padding: 5px 10px 15px;
}